<div class="container">
  <h1>Enter new task:</h1>
  <div class="mb-3">
    <%= form_for(@task) do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>
  </div>
  <div class="mb-3">
    <%= f.label :detail %>
    <%= f.text_field :details %>
 </div>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>