<div class="container">
  <h1><%= @task.title %></h1>
  <p>Important: <%= @task.details %><br>
  <br>
  <%= link_to "Edit task", edit_task_path(@task) %> | 
  <%= link_to "Delete task", delete_path(@task), method: :delete, data: { confirm: "Are you sure?" } %> | 
  <%= link_to "See all tasks", tasks_path %>
</div>